# ⚙️ CONFIGURAÇÕES DO SERVIDOR
PORT=5173
NODE_ENV=development

# 🔑 SEGURANÇA (JWT)
# Gere uma hash longa para produção
JWT_SECRET=sua_secret_jwt_aqui

# 🐘 BANCO DE DADOS (POSTGRES)
DB_USER=EducarDev
DB_PASSWORD=sua_senha_aqui
DB_NAME=EducarDev
DB_HOST=localhost
DB_PORT=5432

# 🌐 INTEGRAÇÃO
# URL do seu frontend para o CORS
FRONTEND_URL=http://localhost:5174

