# PostgreSQL
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432

# API
PORT=5173
NODE_ENV=development

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=2h
REFRESH_TOKEN_EXPIRES_DAYS=7

# Aplicação
APP_BASE_URL=http://localhost:5173
CORS_ORIGIN=*
LOG_LEVEL=http